.navigation li, .navigation ul, .navigation-social li{
  display: inline;
  padding: 2%;
}

.navigation-social li{
}

.navigation, .navigation-social {
  text-align: center;
  background-color: #485366;
  color: white;
}

.navigation a, .navigation-social a {
  text-decoration: none;
  color: white;
}
.navigation ul{
  display: none;
}

.navigation:hover ul {
  display: inline;
}

#intro {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #485366;
}

#intro-image img {
  width: 96%;
  padding: 2%;
}

#filter-language {
  margin: 2%;
}

#project-display {
  padding: 1%;
  border-top: 4px solid black;
}

.next {
  margin-left: 40%;
}

#footer {
  text-align: right;
}
#gallery {
  display: none;
  width: 100%;
}
.gallery-picture {
  display: inline-block;
  float: left;
  margin: 2px;
  width: 100%;
}

@media (min-width: 600px) {
  .gallery-picture{
    width: 347px;
    height: 275px;
  }

  #feature-image {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 347px;
    height: 275px;
  }
  #project-display {
    position: relative;
    margin:auto;
    min-height: 300px;
  }

  .project-block {
    margin-right: 5%;
  }

  .next {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
  }

  button {
    padding: 10%;
  }

  body {
    font-size: 1.5em;
  }
}

@media (min-width:800px) {
  /*Stuff for desktop view goes here*/
  .navigation {
    position: relative;
    padding: 1%;
  }

  .navigation ul{
    display: inline;
    margin:auto;
  }
  .icon-menu{
    display: none;
  }
  .navigation li {
    font-size: 2em;
  }
  .project-image {
    width: 347px;
    height: 275px;
  }
  #intro-text {
    position: absolute;
    margin-top: -60%;
    margin-left: 5%;
    margin-right: 50%;
    background-color: #485366;
  }
}
