#project-feature {
  color: black;
  background-color: lightgrey;
  border-bottom: solid #485366;
}

.icon-menu{
  font-size: 1.6em;
  color: lightgrey;
}

.navigation li {
  font-size: 100%;
}

.navigation-social {
  font-size: 1.4em;
}

a.icon-menu {
  text-decoration: none;
  color: lightgrey;
}

.menu {
  width: 100%;
  background-color: #485366;
}

.template {
  display: none;
}

.project-image, #feature-image{
  display: inline;
  width: 100%;
}

#content-placeholder {
  display: none;
}

.project-text a {
  text-decoration: none;
  font-size: 1.4em;
}
