.menu{
  border-bottom: 4px solid black;
  background-color: white;
}

.navigation, .navigation-social {
  background-color: #770608;
}

#intro {
  background-color: white;
}

#intro-image {
  text-align: right;
  margin: 0px;
  padding: 0px;
  background-color: #bb0003;
}

#intro-image img{
  margin: 0px;
  padding: 0px;
  vertical-align: bottom;
}

#intro-text {
  position: absolute;
  margin-top: -70%;
  margin-left: 2%;
  margin-right: 55%;
  padding-bottom: 20px;
  background-color: black;
}
