
/*moves picture over to right-hand side of page when screen is big enough*/
@media (min-width:600px) {
  /*Stuff for desktop view goes here*/
}
@media (max-width:400px) {
  .navigation li, .navigation ul{
    display: block;
  }
}

.navigation li, .navigation ul{
  display: inline;
  padding: 2%;
}

.navigation {
  position: relative;
  background-color: black;
  color: white;
}

.navigation:not(:hover) ul{
  display: none;
}

.navigation:hover ul {
  display: inline;
}

#intro {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
}

#intro-image img {
  width: 96%;
  padding: 2%;
}
