#project-feature {
  background-color: white;
}

.icon-menu{
  font-size: 1.6em;
  color: white;
}

.navigation li {
  font-size: 100%;
}

.navigation-social {
  font-size: 1.4em;
}

a.icon-menu {
  text-decoration: none;
  color: white;
}

.menu {
  width: 100%;
  background-color: black;
}

.template {
  display: none;
}

.project-image, #feature-image{
  display: inline;
  width: 100%;
}

#content-placeholder {
  display: none;
}
