#project-display {
  background-color: lightgrey;
}

.icon-menu{
  font-size: 1.6em;
  color: white;
}

.navigation li {
  font-size: 100%;
}

a.icon-menu {
  text-decoration: none;
  color: white;
}
