#project-display {
  background-color: white;
}

.icon-menu{
  font-size: 1.6em;
  color: white;
}

.navigation li {
  font-size: 100%;
}

a.icon-menu {
  text-decoration: none;
  color: white;
}

.menu {
  width: 100%;
  background-color: black;
}

.template {
  display: none;
}

#project-image {
  display: inline;
  width: 347px;
  height: 275px;
}
